<a href="https://colab.research.google.com/github/Yoonwoongbae/phython2/blob/main/py_a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CH1. 파이썬 문법
## 자료형

**숫자형** 
* 정수 : 123,456, 0 , 130
* 실수 : 12.345, -987,65,0,7e6  
* 8진수 : 0o765, 0o123  
* 16wlstn : 0x00, 0x0A, 0xff

**변수**
* 문자 또는 밑줄로 시작(_Yoon. alpha)
* 대소문자 구분(sum, Sum, SUM)
* 영문자. 숫자. 밑줄(A-z, 0-9, _)
  ex) sun_9, Alpha, s9n)  
* 파이썬 키워드 (print...) 

**표기법**
+ 카멜(낙타) : myName
+ 스네이크(뱀) : my_name
+ 파스칼 : MyName

In [ ]:
a = 10  
b = 20  
f = "10"  
c = a + b  
print(a,b,c,f)

10 20 30 10

In [ ]:
a = 10 
b = 20
c= "10" 
d=  "20" 
print(a+b)
print(type(a))
print(type(c))
print(c+d)  
print(c,d)

30
<class 'int'>
<class 'str'>
1020
10 20

In [ ]:
#변수 
myName = "Yoon woong bae"
my_name = "윤웅배"
_my_navme = "korea"
MYNAME = "코리아"
my2name = "kikiki"
# 2myname = "하하하"
# my-name = "마이너스"
# my name = "스페이스"
myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

In [ ]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [ ]:
x,y,z = "딸기","포도","바나나"
print(x)
print(y)
print(z)

딸기
포도
바나나

In [ ]:
fruits = ["누가바", "쌍쌍바","보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x = "Lite"
y = "is"
z = "beautiful!"
print(x,y,z)
print(x+y+z)

Lite is beautiful!
Liteisbeautiful!

In [ ]:
a = 1
b = 2 
c = 3 
print(a+b+c)
print(a,b,c)

6
1 2 3

In [ ]:
# 나눗셈
a = 10
b = 3
c = a / b
d = a // b # 몫
e = a % b # 나머지
print(c)
print(d)
print(e)

3.3333333333333335
3
1

In [ ]:
# 곱셈
a = 10
b = 3
c = a * b #곱하기
d = a ** b # 제곱
print (c,d)

30 1000

#### 문자열
1. 큰 따옴표 : "윤웅배"
2. 작은 따옴표 : '윤웅배'
3. 큰 따옴표 3개 : """윤웅배"""
4. 작은 따옴표 3개 : '''윤웅배'''
5. " 동해물과 백두산이 마르고 닳도록 우리나라 좋은나라 "

# 데이터 바꾸기

In [ ]:
a = 1 ; b = 2
a ,b = b,a
print(a,b)

2 1

In [ ]:
b = 2 ; C = 3
f = b + c
c
print(f)

32

In [ ]:
# len()
a = "123456"
b = [2,3,4,5]
print(len(a))
print(len(b))

6
4

In [ ]:
a = 100
b = 200
result = a+b  
print(a,'+',b,'=',result)
result = a - b
print(a,'-',b,'=',result)
result = a / b
print(a,'/',b,'=',result)
result = a * b
print(a,'*',b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

In [ ]:
a = "1234"
b = 5678
c = int(a) + b
print(c)

6912

In [ ]:
# 계산기 2
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))

print(type(num1))
result = num1 + num2
print(result)

숫자입력1: 2
숫자입력2: 3
<class 'int'>
5

In [ ]:
# 계산기 3
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))
a = int(num1)
b = int(num2)
result = a+b  
print(a,'+',b,'=',result)
result = a - b
print(a,'-',b,'=',result)
result = a / b
print(a,'/',b,'=',result)
result = a * b
print(a,'*',b,'=',result)

숫자입력1: 2
숫자입력2: 3
2 + 3 = 5
2 - 3 = -1
2 / 3 = 0.6666666666666666
2 * 3 = 6

In [ ]:
# 자기이름 전화번호 택배(g)x100
name = input("이름: ")
result = name 
number = input("전화번호: ")
result = number 
num1 = int(input("택배(g)x100: "))
a= int(num1)
result = int(num1)*100
print("결과값 = ",a,"x100원=", result, "입니다")

이름: 윤웅배
전화번호: 01085233967
택배(g)x100: 2
결과값 =  2 x100원= 200 입니다

CH3. 자료형

1. 인덱스, 슬라이싱

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(a)
print(a[0])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(a[-1])
print(a[-2])

9
8

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(a[1:9:2])
print(a[0:9:2])

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(a[:4])
print(a[5:])

[1, 2, 3, 4]
[6, 7, 8, 9]

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(len(a))
print(len(a) -1)

9
8

In [ ]:
b = []
b[0] = "apple"
print(b)

IndexError: ignored

In [ ]:
a =[1,2,3]
b =[4,5,6]
c = a + b
print(a+b)
print(c)
print(c*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

함수 이용

In [ ]:
k = ["a","b","c","d"]
k.remove("c")
print(k)
k.append("f") #맨뒤에 추가
print(k)

['a', 'b', 'd']
['a', 'b', 'd', 'f']

In [ ]:
j = "God is love!"
print(j[:3])
print(j[4:6])
print(j[7:])

God
is
love!

In [ ]:
j = " God is love!"
print (j. upper()) # 모든 걸 대문자로로
print (j. lower()) # 모든 걸 소문자로 
print (j.strip())  # 양옆 공간을 없앰

 GOD IS LOVE!
 god is love!
God is love!

In [ ]:
a =" apple, mango, banana"
print(a.split(",")) # , 있는 것을 분류해서 만들어줌

[' apple', ' mango', ' banana']

In [ ]:
a =[" apple, mango, banana"]
a.append("Orange") # append는 맨 뒷쪽에 추가
print(a)

[' apple, mango, banana', 'Orange']

In [ ]:
a =[" apple", "mango", "banana"]
a. insert(1,"Orange") # insert는 지정한 곳에 삽입
print(a)

[' apple', 'Orange', 'mango', 'banana']

In [ ]:
a =[" apple", "mango", "banana","cherry","banana"]
a.remove("banana") #앞에 있는 것만 삭제
print(a)

[' apple', 'mango', 'cherry', 'banana']

In [ ]:
a = ["apple" , "banana" , "cherry"]
a.pop()#맨뒤 지움
print(a)
a.pop(1) #맨 뒤 첫번째 자료 지움
print(a)

['apple', 'banana']
['apple']

In [ ]:
fruit = ["사과","배","오렌지"]
for i in fruit:
  print(i)

사과
배
오렌지

In [ ]:
fruit = ["감","밤","대추"]
for i in range(len(fruit)):
  print(fruit)

['감', '밤', '대추']
['감', '밤', '대추']
['감', '밤', '대추']

SORT

In [ ]:
a = [7,5,3,8,2,0,1,4,6,9]
a.sort() #정렬해서 사용 가능하다 
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a = [7,5,3,8,2,0,1,4,6,9]
a.sort(reverse = True) #반대로 정렬  
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
fruit = ["kiwi" , "apple" , "Orange","banana"]
fruit.sort() #대문자 우선 정렬
print(fruit)
fruit.sort(key=str.lower) #대문자 구별 하면서 정렬
print(fruit)
fruit.reverse()
print(fruit)

['Orange', 'apple', 'banana', 'kiwi']
['apple', 'banana', 'kiwi', 'Orange']
['Orange', 'kiwi', 'banana', 'apple']

In [ ]:
# List 복사
fruit = ["Kiwi","apple","Orange","banana"]
myList = fruit.copy()
print(myList)
cyList = list(fruit)
print(cyList)

['Kiwi', 'apple', 'Orange', 'banana']
['Kiwi', 'apple', 'Orange', 'banana']

## 2.튜플 자료형 다양한 자료형을 순차적으로 저장하는 집합적 자료형 
##(값을 변경할 수 없는 특징이 있음)

In [ ]:
l = [1,2,3]
t = (5,6,7)
print(type(l))
print(type(t))

<class 'list'>
<class 'tuple'>

In [ ]:
l = [1,2,3]
t = (5,6,7)
l[0] = 4
print(l)
##t[0] = 8
print(t)

[4, 2, 3]
(5, 6, 7)

In [ ]:
f = ("apple","banana","cherry")
print(len(f))

3

In [ ]:
t = ("kiwi") #","가 없어 string으로 인식식
print(t)

kiwi

In [ ]:
t = ("kiwi",) #튜플로 인식하기 위해 ","필요요
print(t)  #,찍어야 string 에서 튜플이 됨됨
print(type(t))

('kiwi',)
<class 'tuple'>

In [ ]:
f = ("banana","apple","kiwi","cherry","Orange")
print(f[:4])
print(f[2:])

('banana', 'apple', 'kiwi', 'cherry')
('cherry', 'Orange')

In [ ]:
f = ("banana","apple","kiwi","cherry","Orange")
if "apple" in f:
  print("Yes")
else:
  print("No")

Yes

### Tuple <->List

In [ ]:
# 튜플에 추가하는 방법 
t = ("apple","banana","cherry")
y = list(t) #튜플로 되있는 걸 리스트로 바꿈꿈
print(type(y))
y.append("Orange")
t = tuple(y)
print(t)

<class 'list'>
('apple', 'banana', 'cherry', 'Orange')

In [ ]:
# List ->Tuple
company = ["LG","Sk","Apple"]
t = tuple(company)
print(company) #리스트
print(t) #튜플

['LG', 'Sk', 'Apple']
('LG', 'Sk', 'Apple')

In [ ]:
c = ("LG","SK","Apple")
d = ("Samsung",)
c += d # c= c+d 간략화 해서 씀 
print(c)

('LG', 'SK', 'Apple', 'Samsung')

In [ ]:
t = ("감","밤","대추")
ㅣ = list(t)

## 3. Dict 사전자료형형

In [ ]:
d = {
    "a":1,
    "b":2,
    "c":3
}
print(d)
print(type(d))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [ ]:
d = {
    "a":1,
    "b":2,
    "c":3
}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
car = {
    "maker" : "Hyundai",
    "model" : "Pony2",
    "year" : 1994
}
print(car)
print(len(car))
car["year"] = 2000
print(car)
car["color"] = "Blue"
print(car)
print()
print(car["maker"])

{'maker': 'Hyundai', 'model': 'Pony2', 'year': 1994}
3
{'maker': 'Hyundai', 'model': 'Pony2', 'year': 2000}
{'maker': 'Hyundai', 'model': 'Pony2', 'year': 2000, 'color': 'Blue'}

Hyundai

In [ ]:
car = {
    "maker" : "bmw",
    "model" : "740Li",
    "year" : 2023
}
car.pop("model") # 해당 키 값을 삭제
print(car)

{'maker': 'bmw', 'year': 2023}

In [ ]:
car = {
    "maker" : "bmw",
    "model" : "GT",
    "year" : 2023
}
car.popitem() #맨뒤 삭제
print(car)

{'maker': 'bmw', 'model': 'GT'}

In [ ]:
car = {
    "maker" : "bmw",
    "model" : "GT",
    "year" : 2023
}
car.clear() #비움
print(car)
car["maker"] = "KIA"
print(car)

{}
{'maker': 'KIA'}

In [ ]:
car = {
    "maker" : "bmw",
    "model" : "GT",
    "year" : 2023
}
del car
#print(car) -> 통째로 다 지워졌기 때문에 print를 쓰면 오류가 남남

#Loop

In [ ]:
car = {
    "maker" : "bmw",
    "model" : "i4",
    "year" : 2023
}
for x in car :
  print(car[x])

bmw
i4
2023

In [ ]:
car = {
    "maker" : "bmw",
    "model" : "i4",
    "year" : 2023
}
for x in car.keys() :
  print(x)

maker
model
year

In [ ]:
car = {
    "maker" : "bmw",
    "model" : "i4",
    "year" : 2023
}
for x in car.values() :
  print(x)

bmw
i4
2023

In [ ]:
car = {
    "maker" : "bmw",
    "model" : "i4",
    "year" : 2023
}
for x in car.items() :
  print(x,y) # item 값은 한 쌍이므로 임의로 x,y 두개를 넣어 줘야 한다.

('maker', 'bmw') ['apple', 'banana', 'cherry', 'Orange']
('model', 'i4') ['apple', 'banana', 'cherry', 'Orange']
('year', 2023) ['apple', 'banana', 'cherry', 'Orange']

In [ ]:
car = {
    "maker" : "bmw",
    "model" : "i4",
    "year" : 2023
}
myCar = car.copy()
print(myCar)

{'maker': 'bmw', 'model': 'i4', 'year': 2023}

In [ ]:
food = {
    "brand":"Lotte",
    "model":"ice cream",
    "price":2000
}
myFood = dict(food)
print(myFood)

{'brand': 'Lotte', 'model': 'ice cream', 'price': 2000}

In [ ]:
name1 = {"name":"김삿갓","year":1900}
name2 = {"name":"홍길동","year":1800}
name3 = {"name":"김유진","year":2000}
family = {
    "name1" : name1,
    "name2" : name2,
    "name3" : name3
}
print(family)

{'name1': {'name': '김삿갓', 'year': 1900}, 'name2': {'name': '홍길동', 'year': 1800}, 'name3': {'name': '김유진', 'year': 2000}}

In [ ]:
name = {}
for i in range(0,3):
  a= input("이름: "),
  b= input("전화번호: ")
  name[a]=b
print (name)

이름: 윤웅배
전화번호: 0
이름: ㅇ
전화번호: ㅇ
이름: ㅁㄴ
전화번호: ㄴ
{('윤웅배',): '0', ('ㅇ',): 'ㅇ', ('ㅁㄴ',): 'ㄴ'}

CH4 조건문 , 반복문

1.조건문문

In [ ]:
a = int(input("숫자입력:"))

if a > 50:
  if a < 100 :
    print("50보다 크고 100보다 작군요.")
  else :
        print("와~~ 100보다 크군요.")
else :
        print("에고~ 50보다 작군요.")

숫자입력:3
에고~ 50보다 작군요.

In [ ]:
#성적처리
score = int(input("점수를 입력해 주새요 : "))

if(score > 100):
  print("0~100점까지 숫자로 입력하세요")
elif(score >=90):
      print("A",end='')
elif(score>=80):
  print("B",end='')  
elif(score>=70):
  print("C",end='')
elif(score>=80):
  print("D",end='')  
else:
  print("F",end='')
print("학점, %d점 입니다." % score)

점수를 입력해 주새요 : 75
C학점, 75점 입니다.

In [ ]:
import random

numbers = []
for num in range(0,10): 
  numbers.append (random.randrange(0,10))

print("생선된 리스트", numbers)

for num in range(0,10):
  if num not in numbers: 
    if num not in numbers: #not in 리스트에 없으면 참참
      print("숫자 %d는 리스트에 없음" %num)
  else:
    print("숫자 %d는 리스트에 있음"%num)

생선된 리스트 [3, 3, 4, 4, 0, 1, 0, 7, 8, 2]
숫자 0는 리스트에 있음
숫자 1는 리스트에 있음
숫자 2는 리스트에 있음
숫자 3는 리스트에 있음
숫자 4는 리스트에 있음
숫자 5는 리스트에 없음
숫자 6는 리스트에 없음
숫자 7는 리스트에 있음
숫자 8는 리스트에 있음
숫자 9는 리스트에 없음

In [ ]:
#조선문 이용
select, answer ,num1,num2,numStr = 0,0,0,0,""

select = int(input("1.입력한 수식계산,2. 두수의 합"))

if(select==1):
  numStr = input("수식을 입력하세요 (1+2):")
  answer = eval(numStr) # 1+2,"s"+"t"
  print("%s 결과는 %5.1f입니다."%(numStr.answer))

elif(select==2):
  num1 = int(input("*첫번째 숫자를 입력하세요:"))
  num2 = int(input("**두두번째 숫자를 입력하세요:"))
  for k in range(num1,num2+1):
    answer = answer + k
  print("%d...+%d는 %d입니다" %(num1,num2,answer))

else:
    print("1 또는 2만 입력하세요")

1.입력한 수식계산,2. 두수의 합2
*첫번째 숫자를 입력하세요:4
**두두번째 숫자를 입력하세요:6
4...+6는 15입니다

##2. 반복문 for &while

In [ ]:
for i in range(0,3,1):
  print("안녕!! %d"%i)

안녕!! 0
안녕!! 1
안녕!! 2

In [ ]:
i,j=0,0
for i in range(2,10,1):
  for j in range(1,10,1):
    print("%dx%d = %2d " %(i,j,i*j),end='')
  print("")

2x1 =  2 2x2 =  4 2x3 =  6 2x4 =  8 2x5 = 10 2x6 = 12 2x7 = 14 2x8 = 16 2x9 = 18
3x1 =  3 3x2 =  6 3x3 =  9 3x4 = 12 3x5 = 15 3x6 = 18 3x7 = 21 3x8 = 24 3x9 = 27
4x1 =  4 4x2 =  8 4x3 = 12 4x4 = 16 4x5 = 20 4x6 = 24 4x7 = 28 4x8 = 32 4x9 = 36
5x1 =  5 5x2 = 10 5x3 = 15 5x4 = 20 5x5 = 25 5x6 = 30 5x7 = 35 5x8 = 40 5x9 = 45
6x1 =  6 6x2 = 12 6x3 = 18 6x4 = 24 6x5 = 30 6x6 = 36 6x7 = 42 6x8 = 48 6x9 = 54
7x1 =  7 7x2 = 14 7x3 = 21 7x4 = 28 7x5 = 35 7x6 = 42 7x7 = 49 7x8 = 56 7x9 = 63
8x1 =  8 8x2 = 16 8x3 = 24 8x4 = 32 8x5 = 40 8x6 = 48 8x7 = 56 8x8 = 64 8x9 = 72
9x1 =  9 9x2 = 18 9x3 = 27 9x4 = 36 9x5 = 45 9x6 = 54 9x7 = 63 9x8 = 72 9x9 = 81

In [ ]:
#while문
j = 0
while j<3:
  print("%d : while문" %j)
  j = i + 1

0 : while문

##for while 1~10까지의 합을 구하는 코드를 작성하시오

In [ ]:
i,hap = 0,0
i = 1
while i<11:
  hap = hap + i
  i=i+1
print("1~10까지의 합은 %d"%hap)

1~10까지의 합은 55

In [ ]:
#for
i, hap = 0,0
for i in range(1,11,1):
  hap = hap +i
print("1~10까지 합은 %d"%hap)

1~10까지 합은 55

In [ ]:
while True:        #안에 있는 게 참이면 계속 반복된다.
  print("무한 루프",end='')
  break  # 멈추는 기능

무한 루프

In [ ]:
#break
for i in range(1,100):
  print("for문 %d번 실험"%i)
  break
print("break 빠짐")

for문 1번 실험
break 빠짐

In [ ]:
hap = 0
a,b = 0,0
while True:
  a=int(input("덧셈 첫번째 수 입력: "))
  if a==0:
    break
  b=int(input("덧셈 두번쨰 수 입력:"))
  hap = a + b
  print("%d+ %d = %d" %(a,b,hap))

print("break로 탈출")

덧셈 첫번째 수 입력: 1
덧셈 두번쨰 수 입력:2
1+ 2 = 3
덧셈 첫번째 수 입력: 3
덧셈 두번쨰 수 입력:0
3+ 0 = 3
덧셈 첫번째 수 입력: 0
break로 탈출

In [ ]:
#continue
hap, i = 0,0
for i in range(1,11):
  if i%2  == 0: # 2로 나눈 나머지지
    print("i:%d"%i)
    continue #
  hap += i
print("1~10 합계(2의 배수 제외): %d" %hap)

i:2
i:4
i:6
i:8
i:10
1~10 합계(2의 배수 제외): 25

In [ ]:
fruits = ["감","밤","대추"]
for x in fruits:
  if x =="밤":
    continue
  print(x)

감
대추

In [ ]:
for x in range(6):
  if x ==3:continue # continue 일 경우 3일때만 건너 뜀 break 일때는 3까지만 나옴  
  print(x)
else:
  print("끝")

0
1
2
4
5
끝

In [ ]:
# pass for문 에러를 피하기 위해 실행하지 않을 때 사용  
for x in [0,1,2]: 
  pass

##4.함수

In [ ]:
def plus(v1,v2):
  result = 0
  result = v1 +v2
  return result

hap = 0
hap = plus(1,2)
print("1+2=%d" %hap)
hap = plus(4,8)
print("4+8=%d" %hap)

1+2=3
4+8=12

In [ ]:
#계산기
def calc(v1,v2,op):
  result = 0
  if op=='+':
    result = v1 + v2
  elif op=='-':
    result = v1 -v2
  elif op=='/':
    result = v1 / v2
  elif op=='*':
    result = v1 *v2
  return result
rst = 0
var1,var2,opr = 0,0,""

opr = input("(+,-,/,*)입력:")
var1 = int(input("1번째 숫자 입력:"))
var2 = int(input("2번째 숫자 입력:"))

rst = calc(var1,var2,opr)
print("계산결과:%d %s %d = %d" %(var1, opr,var2,rst))

(+,-,/,*)입력:*
1번째 숫자 입력:1
2번째 숫자 입력:3
계산결과:1 * 3 = 3

##0으로 나누면 메시지 출력, 계산되지 않고 ,제곱(**)연산자 기능 추가.(숫자1,연산자,숫자2) 순서로 입력하게 변경

In [13]:
#@title 기본 제목 텍스트
# 계산기 
rst = 0
var1, var2, opr = 0,0,""
while True:
  var1 = int(input("1번째 숫자 입력: "))
  if var1 == 0:           # 첫번째 수 0 입력시 종료  
    print("계산기를 종료하였습니다.")
    break
  opr = input("(+, -, /, *, **)입력: ")
  var2 = int(input("2번째 숫자 입력: "))
  if opr == '/':
    if var2==0:             # 나눌 때 두번째 수가 0이면 재시작  
      print("0으로 나눌수 없습니다. 다시 입력해 주세요.")
      continue
  def calc(v1,v2,op):
    result = 0
    if op == '+':
      result = v1 + v2
    elif op == '-':
      result = v1 - v2
    elif op == '/':   
      result = v1 / v2
    elif op == '*':
      result = v1 * v2
    elif op == '**':
      result = v1 ** v2
    return result
  rst = calc(var1,var2, opr)
  print("계산결과 %d %s %d = %.2f 이다" % (var1,opr,var2,rst))

1번째 숫자 입력: 5
(+, -, /, *, **)입력: /
2번째 숫자 입력: 0
0으로 나눌수 없습니다. 다시 입력해 주세요.
1번째 숫자 입력: 5
(+, -, /, *, **)입력: **
2번째 숫자 입력: 3
계산결과 5 ** 3 = 125.00 이다
1번째 숫자 입력: 0
계산기를 종료하였습니다.