<a href="https://colab.research.google.com/github/Yoonwoongbae/phython2/blob/main/Py_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CH1. 파이썬 문법
## 자료형

**숫자형** 
* 정수 : 123,456, 0 , 130
* 실수 : 12.345, -987,65,0,7e6  
* 8진수 : 0o765, 0o123  
* 16wlstn : 0x00, 0x0A, 0xff

**변수**
* 문자 또는 밑줄로 시작(_Yoon. alpha)
* 대소문자 구분(sum, Sum, SUM)
* 영문자. 숫자. 밑줄(A-z, 0-9, _)
  ex) sun_9, Alpha, s9n)  
* 파이썬 키워드 (print...) 

**표기법**
+ 카멜(낙타) : myName
+ 스네이크(뱀) : my_name
+ 파스칼 : MyName

In [1]:
a = 10  
b = 20  
f = "10"  
c = a + b  
print(a,b,c,f)

10 20 30 10

In [6]:
a = 10 
b = 20
c= "10" 
d=  "20" 
print(a+b)
print(type(a))
print(type(c))
print(c+d)  
print(c,d)

30
<class 'int'>
<class 'str'>
1020
10 20

In [8]:
#변수 
myName = "Yoon woong bae"
my_name = "윤웅배"
_my_navme = "korea"
MYNAME = "코리아"
my2name = "kikiki"
# 2myname = "하하하"
# my-name = "마이너스"
# my name = "스페이스"
myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

In [10]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [11]:
x,y,z = "딸기","포도","바나나"
print(x)
print(y)
print(z)

딸기
포도
바나나

In [13]:
fruits = ["누가바", "쌍쌍바","보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [14]:
x = "Lite"
y = "is"
z = "beautiful!"
print(x,y,z)
print(x+y+z)

Lite is beautiful!
Liteisbeautiful!

In [15]:
a = 1
b = 2 
c = 3 
print(a+b+c)
print(a,b,c)

6
1 2 3

In [16]:
# 나눗셈
a = 10
b = 3
c = a / b
d = a // b # 몫
e = a % b # 나머지
print(c)
print(d)
print(e)

3.3333333333333335
3
1

In [17]:
# 곱셈
a = 10
b = 3
c = a * b #곱하기
d = a ** b # 제곱
print (c,d)

30 1000

#### 문자열
1. 큰 따옴표 : "윤웅배"
2. 작은 따옴표 : '윤웅배'
3. 큰 따옴표 3개 : """윤웅배"""
4. 작은 따옴표 3개 : '''윤웅배'''
5. " 동해물과 백두산이 마르고 닳도록 우리나라 좋은나라 "

# 데이터 바꾸기

In [41]:
a = 1 ; b = 2
a ,b = b,a
print(a,b)

2 1

In [43]:
b = 2 ; C = 3
f = b + c
c
print(f)

32

In [30]:
# len()
a = "123456"
b = [2,3,4,5]
print(len(a))
print(len(b))

6
4

In [27]:
a = 100
b = 200
result = a+b  
print(a,'+',b,'=',result)
result = a - b
print(a,'-',b,'=',result)
result = a / b
print(a,'/',b,'=',result)
result = a * b
print(a,'*',b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

In [46]:
a = "1234"
b = 5678
c = int(a) + b
print(c)

6912

In [69]:
# 계산기 2
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))

print(type(num1))
result = num1 + num2
print(result)

숫자입력1: 2
숫자입력2: 3
<class 'int'>
5

In [56]:
# 계산기 3
num1 = int(input("숫자입력1: "))
num2 = int(input("숫자입력2: "))
a = int(num1)
b = int(num2)
result = a+b  
print(a,'+',b,'=',result)
result = a - b
print(a,'-',b,'=',result)
result = a / b
print(a,'/',b,'=',result)
result = a * b
print(a,'*',b,'=',result)

숫자입력1: 2
숫자입력2: 3
2 + 3 = 5
2 - 3 = -1
2 / 3 = 0.6666666666666666
2 * 3 = 6

In [82]:
# 자기이름 전화번호 택배(g)x100
name = input("이름: ")
result = name 
number = input("전화번호: ")
result = number 
num1 = int(input("택배(g)x100: "))
a= int(num1)
result = int(num1)*100
print("결과값 = ",a,"x100원=", result, "입니다")

이름: 윤웅배
전화번호: 01085233967
택배(g)x100: 2
결과값 =  2 x100원= 200 입니다